{% extends "network/layout.html" %}

{% block body %}

    <div id="">

        <form action="{% url 'index' %}" method="post" class = "input_form shadow rounded bg-light ">
            
            {% csrf_token %}

            <div class="p-3">
                {{ post_form }}
            </div>

            <input class="btn btn-primary btn-lg input_button py-4" type="submit" value="Publish">
        </form>

    </div>

    <div id="post_list">

    </div>



    <script type="text/babel">

        function Post_list() {

            return (
                <div>
                    
                </div>
            );
        }

        ReactDOM.render(<Post_list />, document.querySelector("#post_list"));
    </script>
{% endblock %}