{% extends "network/layout.html" %}

{% block body %}

<div class="mt-5">

    <div class="d-flex justify-content-center mb-3">

        <button id="follow_button" data-follow-status="{{i_follow}}" onclick="send_follow()" class="btn btn-outline-primary btn-lg">
            Follow
        </button>
    
    </div>

    <div class="row mb-2">
        <h4 class="col text-end">
            <b>
                Name
            </b> 
        </h4>
        <h4 class="col">
            {{profile_user.username}}
        </h4>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Email
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.email}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Last Login
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.last_login}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Active Since
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.date_joined}}
        </h6>
    </div>

    {% for followee_pair in follow_outgoing %}
        {{followee_pair}}
    {% endfor %}

</div>


<script>

    document.addEventListener('DOMContentLoaded', function() {
        
        const follow_button = document.getElementById('follow_button')
        update_button()

    })

    function update_button() {
        if (follow_button.dataset.followStatus == 'True') {
            follow_button.innerText = 'Followed'
            follow_button.classList.replace('btn-outline-primary', 'btn-primary')
        } else {
            follow_button.innerText = 'Follow'
            follow_button.classList.replace('btn-primary', 'btn-outline-primary')
        }
    }

    async function send_follow() {
       
        const response = await fetch(`/follow_route/{{profile_user.id}}`)
    }

</script>

{% endblock %}