{% extends "network/layout.html" %}

{% block body %}

<div class="mt-5">

    <div class="row mb-2">
        <h4 class="col text-end">
            <b>
                Name
            </b> 
        </h4>
        <h4 class="col">
            {{profile_user.username}}
        </h4>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Email
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.email}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Last Login
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.last_login}}
        </h6>
    </div>
    <div class="row">
        <h6 class="col text-end">
            <b>
                Active Since
            </b> 
        </h6>
        <h6 class="col">
            {{profile_user.date_joined}}
        </h6>
    </div>
   
    <div id="follow_grid">
    </div>

</div>


<script>

    const profile_id = '{{profile_user.id}}'
    const profile_name = '{{profile_user.username}}'
    const i_follow = '{{i_follow}}'
    const csrf = '{{ csrf_token }}'


    function update_button() {
        if (follow_button.dataset.followStatus == 'True') {
            follow_button.innerText = 'Followed'
            follow_button.classList.replace('btn-outline-primary', 'btn-primary')
            follow_button.dataset.action = 'False'
            
        } else {
            follow_button.innerText = 'Follow'
            follow_button.classList.replace('btn-primary', 'btn-outline-primary')
            follow_button.dataset.action = 'True'

        }
    }

    

</script>

{% endblock %}